# Web Framework and Server
Flask
Flask-Cors
gunicorn

# Core ML and Cloud Libraries
tensorflow==2.13.1
keras==2.13.1
deepface==0.0.93
google-cloud-storage
google-cloud-logging
google-cloud-trace
torch
torchvision